<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Devices</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bluetooth Devices</h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let device of devices">
            <ion-label class="bt-item">
              <div>
                <strong>{{ device.name }}</strong>
                <p>Address: {{ device.address }}</p>
              </div>
              <div>
                <ion-button
                  (click)="onBtConnectClick(device)"
                  fill="outline">Connect</ion-button>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
