div.control-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 50vh;
}

div.connection-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
