div.control-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 30vh;
  margin-top: 1.5rem;
}

div.connection-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.adv-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
}

div.slider_control {
  width: 100%;
  margin: 2rem 0 2rem 0;

  input {
    width: 100%;
  }
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}
